.page-title{
  border-bottom: 1px solid #455a64;
  margin-bottom: 1.68rem;
}

.page-title h1{
  margin-right: 150px;
  margin-bottom: 0;
}

.studies-entry-detail{
  border-left: 1px solid #455a64;
}

